@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1,
  .style2,
  .style3 {
    background-color: #aaa;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 29px;
    margin-top: 28px;
    width: 35px;
    height: 7px
  }
  .style1,
  .style2 {
    margin-top: 3px
  }
  .style5 {
    margin-left: 95px;
    margin-top: 25px;
    width: 207px;
    height: 34px
  }
  .style6 {
    margin-left: 90px;
    margin-top: 134px;
    width: 194px;
    height: 109px
  }
  .style9 {
    color: #00c4ff;
    font-family: 'Helvetica Neue',serif;
    font-size: .625em;
    font-weight: 500;
    margin-left: 160px;
    margin-top: 11px;
    height: 13px
  }
  .mobilemadrow6 {
    display: flex;
    margin-left: 29px;
    margin-top: 79px;
    width: 306px;
    height: 227px
  }
  .style7 {
    margin-left: 0;
    width: 159px;
    height: 106px
  }
  .style8 {
    color: #9d9d9d;
    font-family: 'Helvetica Neue',serif;
    font-size: .625em;
    margin-left: 168px;
    height: 100%
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1,
  .style2,
  .style3 {
    background-color: #aaa;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 59px;
    margin-top: 57px;
    width: 72px;
    height: 14px
  }
  .style1,
  .style2 {
    margin-top: 6px
  }
  .style5 {
    margin-left: 195px;
    margin-top: 51px;
    width: 424px;
    height: 70px
  }
  .style6 {
    margin-left: 184px;
    margin-top: 274px;
    width: 397px;
    height: 223px
  }
  .style9 {
    color: #00c4ff;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.28em;
    font-weight: 500;
    margin-left: 328px;
    margin-top: 23px;
    height: 27px
  }
  .mobilemadrow6 {
    display: flex;
    margin-left: 59px;
    margin-top: 162px;
    width: 627px;
    height: 465px
  }
  .style7 {
    margin-left: 0;
    width: 326px;
    height: 217px
  }
  .style8 {
    color: #9d9d9d;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.28em;
    margin-left: 344px;
    height: 100%
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1,
  .style2,
  .style3 {
    background-color: #aaa;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 71px;
    margin-top: 69px;
    width: 86px;
    height: 17px
  }
  .style1,
  .style2 {
    margin-top: 7px
  }
  .style5 {
    margin-left: 233px;
    margin-top: 61px;
    width: 508px;
    height: 83px
  }
  .style6 {
    margin-left: 221px;
    margin-top: 329px;
    width: 476px;
    height: 267px
  }
  .style9 {
    color: #00c4ff;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.5333333333333332em;
    font-weight: 500;
    margin-left: 393px;
    margin-top: 27px;
    height: 32px
  }
  .mobilemadrow6 {
    display: flex;
    margin-left: 71px;
    margin-top: 194px;
    width: 751px;
    height: 557px
  }
  .style7 {
    margin-left: 0;
    width: 390px;
    height: 260px
  }
  .style8 {
    color: #9d9d9d;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.5333333333333332em;
    margin-left: 412px;
    height: 100%
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1,
  .style2,
  .style3 {
    background-color: #aaa;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 93px;
    margin-top: 90px;
    width: 112px;
    height: 22px
  }
  .style1,
  .style2 {
    margin-top: 10px
  }
  .style5 {
    margin-left: 304px;
    margin-top: 80px;
    width: 662px;
    height: 109px
  }
  .style6 {
    margin-left: 288px;
    margin-top: 429px;
    width: 621px;
    height: 349px
  }
  .style9 {
    color: #00c4ff;
    font-family: 'Helvetica Neue',serif;
    font-size: 2em;
    font-weight: 500;
    margin-left: 512px;
    margin-top: 35px;
    height: 42px
  }
  .mobilemadrow6 {
    display: flex;
    margin-left: 93px;
    margin-top: 253px;
    width: 979px;
    height: 726px
  }
  .style7 {
    margin-left: 0;
    width: 509px;
    height: 339px
  }
  .style8 {
    color: #9d9d9d;
    font-family: 'Helvetica Neue',serif;
    font-size: 2em;
    margin-left: 538px;
    height: 100%
  }
}